

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    flex-wrap: wrap;
    background-color: var(--primaryBlack);
}

.Header ul{
    display: flex;
    gap:30px;
}

.Header h1{
    font-family: var(--titleFont);
    font-size: 2rem;
    color: var(--primaryYellow);
    margin: 10px;
}

.Header a{
    font-size: 1rem;
    color: var(--white);
}

.Header a:hover{
    text-decoration: underline;
}

@media  screen and (max-width: 1000px) {

    .Header{
        justify-content: center;
        gap:20px;
    }

}

@media  screen and (max-width: 600px) {

    .Header{
        padding: 30px 50px;
    }

    .Header h1{
        margin-bottom: 15px;
    }

}
