.Loading{
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 0.8rem;
    border: none;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.Loading img{
    width: 20px;
}