.Term{
    background-color: var(--primaryBlack);
    color: var(--white);
    padding: 50px 200px;
}

.Term h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.Term ul{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap:10px;
    list-style: disc;
}

.Term ul{
    color: rgb(101, 101, 101);
}

@media  screen and (max-width: 800px) {

    .Term{
        padding: 100px 50px;
    }


}