.UploadSection{
    background-color: var(--primaryYellow);
    color: var(--primaryBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding: 50px 150px;
}

.UploadSection h2{
    margin: 0;
    font-size: 2rem;
    font-family: var(--titleFont);
    text-align: center;
}

.createImage img{
    width: 300px;
    height: 300px;
    border: 3px solid black;
}

.UploadSection p{
    font-size: 0.8rem;
    font-weight:300 ;
}

.inputArea{
    display: flex;
    gap:30px;
}

#uploadBtn, #openCamera{
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 0.8rem;
    border: none;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.icon{
    width: 20px;
}