.UploadSection{
    background-color: var(--primaryYellow);
    color: var(--primaryBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding: 50px 150px;
}

.UploadSection h2{
    margin: 0;
    font-size: 2rem;
    font-family: var(--titleFont);
    text-align: center;
}

#exampleImg{
    width: 300px;
    height: 300px;
}

.UploadSection p{
    font-size: 0.8rem;
    font-weight:300 ;
    text-align: center;
}

.inputArea{
    display: flex;
    gap:30px;
}

#uploadBtn, #downloadBtn{
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 0.8rem;
    border: none;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.icon{
    width: 20px;
}

.createImage{
    position: relative;
    width: 300px;
    height: 300px;
}

.control{
    display: flex;
    gap:30px;
}

.control button{
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 0.8rem;
    border: none;
    width: 80px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    font-weight: bold;
}

button, label{
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover, label:hover{
    transform: translateY(-0.2rem);
}

.downloadIcon{
    width: 20px;
    transform: rotate(180deg);
}
